body {
  margin: 0;
  padding: 0;
}
.main {
  border: 1px solid red;
}
/* .NavBar {
  position: absolute;
} */
.text-link {
  color: inherit;
  text-decoration: inherit;
}

// .formInput {
//   margin: 5px;
//   padding: 5px;
// }